<!--<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/renter-dashboard">dashbord</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
  </ul>-->


  <div class="page-header">
      <span class="header"><h3><i>GRILL ANYWHERE</i></h3></span>
      <span class="header">
        <span class="hdr">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popLogin">
            Sign In
          </button>
          &nbsp;
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popRegister">
            Sign Up
          </button>
        </span>
    </span>
      <app-login></app-login>
      <app-registration></app-registration>
    </div>